.authorAvatar{
    box-shadow: 0 0 0.2rem 0.01rem rgb(172, 172, 172);
    height: 34px;
    width:34px;
    object-fit: cover;
}

.authorName{
    line-height: 1;
    font-weight: 600;
   
}

.postDate{
    font-weight: 600;
    font-size: 0.8em;
}
