.postImage{
    margin:0 auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius:20px;
    opacity: 0;
}

.postDescription{
  max-width: 450px;
}
.wrapper {
    width: 94vw;
    height: 94vw;
  }

.wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 470px) {
    .wrapper{
        width:450px;
        height:450px;
    }
}