.avatar{
    padding: 2px !important;
    background: linear-gradient(to right, rgb(110, 146, 194), rgb(15, 56, 131));
    border-radius: 20%;
}

.avatar img{
    border-radius: 20%;
    object-fit: cover;
}

.following,
.followers{
    text-align: center;
}