.avatar{
    padding: 2px !important;
    background: linear-gradient(to right, rgb(118, 170, 238), rgb(78, 47, 255));
    border-radius: 20%;
}

.avatar img{
    border-radius: 20%;
}

.following,
.followers{
    text-align: center;
}